
params {
    input_image = "data/xy_8bit__nuclei_PLK1_control.ome.zarr"
    sigma = "1,1,1,2.5,2.5"
    dataset = ''
    channel = 0
    timepoint = 0
    resolution = 0
}

conda {
    enabled = false
    useMamba = true
}

profiles {
    standard {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
    }
}

process {
    withName: BLUR {
        ext.args = { "--channel ${params.channel} --timepoint ${params.timepoint} --resolution ${params.resolution}" }
    }
    withName: SEGMENT {
        ext.args = { " --channel 0" }
    }
}

